<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Programax.Easy.Report.Properties.Settings.WorkBrConnectionString" connectionString="Data Source=(LOCAL)\PROGRAMAX;Initial Catalog=NewEasy;Integrated Security=true" providerName="System.Data.SqlClient"/>
        <add name="Programax.Easy.Report.Properties.Settings.ConnectionString" connectionString="Data Source=PROGRAMAX-PC\PROGRAMAX;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Programax.Easy.Report.Properties.Settings.NEWEASYConnectionString" connectionString="Data Source=PROGRAMAX-PC\PROGRAMAX;Initial Catalog=NEWEASY;Persist Security Info=True;User ID=sa;Password=002525" providerName="System.Data.SqlClient"/>
        <add name="Programax.Easy.Report.Properties.Settings.ConnectionStringReport" connectionString="Data Source=PROGRAMAX-PC\PROGRAMAX;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
